*.swp
*.lo
*.la
*.o
*.patch
*.deps
*.libs
*.cache
.dirstamp
*.user
config*
*Debug/
*Release/
*.ncb
*.suo
*.sdf
*.opensdf
ipch/
build-aux/
rpm/spec
stamp-h
cyassl/options.h
wolfssl/options.h
libtool.m4
aclocal.m4
aminclude.am
lt*.m4
Makefile.in
*.a
ltmain.sh
Makefile
config.*
autom4te.cache
deps
.deps
.libs
stamp-h1
libtool
TAO.README
distribute.sh
aclocal.m4
lighttpd/lighttpd-1.4.35/src/lighttpd
lighttpd/lighttpd-1.4.35/src/lighttpd-angel
lighttpd/lighttpd-1.4.35/src/lemon
lighttpd/lighttpd-1.4.35/src/proc_open
lighttpd/lighttpd-1.4.35/src/versionstamp.h
lighttpd/lighttpd-1.4.35/src/configparser.c
lighttpd/lighttpd-1.4.35/src/mod_ssi_exprparser.c
build-android.sh
*~
*.swp
stunnel3
stunnel/src/stunnel
stunnel/configure
!stunnel/auto/*
!stunnel/src/config.h.in
!stunnel/build-android.sh
stunnel/tools/stunnel.conf-sample
stunnel/tools/stunnel.init
stunnel/tools/stunnel.service
stunnel/example/echoclient-tcp/echoclient-tcp
stunnel/example/echoserver-ssl/echoserver-ssl
!stunnel/example/Makefile
!stunnel/example/echoclient-tcp/Makefile
!stunnel/example/echoserver-ssl/Makefile
openssh/ssh
openssh/sshd
openssh/buildpkg.sh
openssh/configure
openssh/regress/sshd_proxy.orig
openssh/regress/modpipe.dSYM*
openssh/regress/setutid-allowed.dSYM*
openssh/regress/authorized_keys*
stunnel/example/echoserver/echoserver*
