*.o
*.lo
*.a
*.la
Makefile
config.*
deps
.deps
.libs
stamp-h1
libtool
TAO.README
distribute.sh
openssh/ssh
openssh/sshd
lighttpd/lighttpd-1.4.35/src/lighttpd
lighttpd/lighttpd-1.4.35/src/lighttpd-angel
lighttpd/lighttpd-1.4.35/src/lemon
lighttpd/lighttpd-1.4.35/src/proc_open
lighttpd/lighttpd-1.4.35/src/versionstamp.h
