*.swp
*.lo
*.la
*.o
*.deps
*.libs
*.cache
.dirstamp
*.user
config*
*Debug/
*Release/
*.ncb
*.suo
*.sdf
*.opensdf
ipch/
build-aux/
rpm/spec
stamp-h
cyassl/options.h
wolfssl/options.h
libtool.m4
aclocal.m4
aminclude.am
lt*.m4
Makefile.in
*.a
ltmain.sh
Makefile
config.*
autom4te.cache
deps
.deps
.libs
stamp-h1
libtool
TAO.README
distribute.sh
aclocal.m4
lighttpd/lighttpd-1.4.35/Makefile.in
lighttpd/lighttpd-1.4.35/aclocal.m4
lighttpd/lighttpd-1.4.35/ar-lib
lighttpd/lighttpd-1.4.35/compile
lighttpd/lighttpd-1.4.35/config.guess
lighttpd/lighttpd-1.4.35/config.h.in
lighttpd/lighttpd-1.4.35/config.sub
lighttpd/lighttpd-1.4.35/configure
lighttpd/lighttpd-1.4.35/depcomp
lighttpd/lighttpd-1.4.35/doc/Makefile.in
lighttpd/lighttpd-1.4.35/doc/config/Makefile.in
lighttpd/lighttpd-1.4.35/doc/config/conf.d/Makefile.in
lighttpd/lighttpd-1.4.35/doc/config/vhosts.d/Makefile.in
lighttpd/lighttpd-1.4.35/doc/initscripts/Makefile.in
lighttpd/lighttpd-1.4.35/doc/outdated/Makefile.in
lighttpd/lighttpd-1.4.35/doc/scripts/Makefile.in
lighttpd/lighttpd-1.4.35/doc/systemd/Makefile.in
lighttpd/lighttpd-1.4.35/install-sh
lighttpd/lighttpd-1.4.35/ltmain.sh
lighttpd/lighttpd-1.4.35/m4/libtool.m4
lighttpd/lighttpd-1.4.35/m4/ltoptions.m4
lighttpd/lighttpd-1.4.35/m4/ltsugar.m4
lighttpd/lighttpd-1.4.35/m4/ltversion.m4
lighttpd/lighttpd-1.4.35/m4/lt~obsolete.m4
lighttpd/lighttpd-1.4.35/missing
lighttpd/lighttpd-1.4.35/src/Makefile.in
lighttpd/lighttpd-1.4.35/tests/Makefile.in
lighttpd/lighttpd-1.4.35/tests/docroot/123/Makefile.in
lighttpd/lighttpd-1.4.35/tests/docroot/Makefile.in
lighttpd/lighttpd-1.4.35/tests/docroot/www/Makefile.in
lighttpd/lighttpd-1.4.35/tests/docroot/www/expire/Makefile.in
lighttpd/lighttpd-1.4.35/tests/docroot/www/go/Makefile.in
lighttpd/lighttpd-1.4.35/tests/docroot/www/indexfile/Makefile.in
lighttpd/lighttpd-1.4.35/src/lighttpd
lighttpd/lighttpd-1.4.35/src/lighttpd-angel
lighttpd/lighttpd-1.4.35/src/lemon
lighttpd/lighttpd-1.4.35/src/proc_open
lighttpd/lighttpd-1.4.35/src/versionstamp.h
lighttpd/lighttpd-1.4.35/src/configparser.c
lighttpd/lighttpd-1.4.35/src/mod_ssi_exprparser.c
build-android.sh
*~
*.swp
stunnel3
stunnel/Makefile.in
stunnel/doc/Makefile.in
stunnel/src/Makefile.in
stunnel/tools/Makefile.in
stunnel/src/stunnel
stunnel/configure
!stunnel/auto/*
!stunnel/src/config.h.in
!stunnel/build-android.sh
stunnel/tools/stunnel.conf-sample
stunnel/tools/stunnel.init
stunnel/tools/stunnel.service
stunnel/example/echoclient-tcp/echoclient-tcp
stunnel/example/echoserver-ssl/echoserver-ssl
!stunnel/example/Makefile
!stunnel/example/echoclient-tcp/Makefile
!stunnel/example/echoserver-ssl/Makefile
openssh/ssh
openssh/sshd
openssh/buildpkg.sh
openssh/configure
openssh/regress/sshd_proxy.orig
openssh/regress/modpipe.dSYM*
openssh/regress/setutid-allowed.dSYM*
openssh/regress/authorized_keys*
stunnel/example/echoserver/echoserver*
*.plist
server_err.log
/.vs
