regress/*.dSYM
regress/modpipe
regress/setuid-allowed
openbsd-compat/regress/Makefile
*.out
survey.sh
opensshd.init
config.status

# build outputs
scp
sftp
sftp-server
ssh-add
ssh-agent
ssh-keygen
ssh-keyscan
ssh-keysign
ssh-pkcs11-helper
